body {
    background: #40508b;
}
.table_box {
    margin: 5%;
    display: block;
    text-align: center;
}
thead {
    color: #282828;
    font-family: "微軟正黑體", serif;
    font-weight: bolder;
}
tbody {
    font-family: "微軟正黑體", serif;
}
table {
    display: inline-block;
    background: rgba(255,255,255,0.6);
    padding: 5%;
}
tbody tr:nth-child(2n+1) {
    background: white;
}
tbody tr:nth-child(2n) {
    background: rgba(255,255,255,0.6);
}
tr {
    text-align: center;
}
td,th {
    padding: 20px 40px;
    font-size: 25px;
}

.delete::before {
    background-image: url("../image/delete.png");
    margin-left: -28px;
}
.modify::before {
    background-image: url("../image/modify.png");
    margin-left: 0;
}
.delete::before, .modify::before {
    background-size: 28px;
    background-repeat: no-repeat;
    margin-top: -14px;
    width: 28px;
    height: 28px;
    content: "";
    position: absolute;
    transition: all 0.5s;
    transform: scale(1.1);
}
.delete, .modify {
    margin: 0 5px;
    width: 24px;
    height: 24px;
}
.modify:hover::before, .delete:hover::before {
    transition: all 0.5s;
    transform: scale(1.3);
    cursor: pointer;
}
.new {
    margin: 30px 0;
    display: inline-block;
    min-width: 50%;
    background: rgba(255,255,255,0.6);
    min-height: 50px;
    line-height: 50px;
    font-size: 35px;
    cursor: pointer;
}

.new_background_invisible {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.5s;
}

.new_background {
    opacity: 100%;
    z-index: 10;
    background: #40508b;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.new_invisible {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.new_visible {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 900;
    opacity: 100%;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    transition: all 0.5s;
    padding: 5%;
}
thead {
    background: #fdffa7;
}
.label {
    display: block;
    margin: 30px 0;
    font-size: 30px;
    color: #fdffa7;
    font-weight: bolder;
    font-family: "微軟正黑體", serif;
}
.input {
    font-size: 25px;
    padding: 10px;
}
.create_submit {
    padding: 10px;
    margin-top: 0;
    border: none;
    transition: all 0.3s;
    font-weight: bolder;
    color: #fdffa7;
    background: rgba(0,0,0,0);
    font-family: "微軟正黑體", serif;
    font-size: 30px;
}
.create_submit:hover {
    cursor: pointer;
    background: #40508b;
    transition: all 0.3s;
}
.note {
    margin-bottom: 5px;
    color: #282828;
    font-size: 24px;
    font-family: "微軟正黑體", serif;
    font-weight: bold;
    background: #fdffa7;
}
